<div class="container">
    <div class="row">
        <div class="col-lg-10 mx -auto">
            <%= form_for @post, html: { multipart: true } do |f| %>

              <%= render 'shared/error_messages', item: @post %>
                <%= f.label :title %><br>
                <%= f.text_field :title, placeholder: "Post Title Here" %><br>
                <%= f.label :summary %><br>
                <%= f.text_area :summary, placeholder: "Keep this short, maximum 200 characters.", size: '50x10' %>
                <p>Characters left: <span id="counter" data-maximum-length="<%= @summary_max %>"><%= @summary_max %></span></p>
                <%= f.label :content %><br>
                <%= f.text_area :content, placeholder: "Write Post Here", size: '100x25', class: "tinymce" %><br>
                <%= f.label :tag_ids, "Tags" %><br>
                <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true, class: "chosen-select"} %><br>
                <%= f.label :image %>
                <%= f.file_field :image %><br>
                <%= f.label :active %>
                <%= f.check_box :active %>
                <br>
                <br>
                <%= f.submit 'Post' %>

            <% end %>
        </div>
    </div>
</div>

<%= tinymce %>

<script type="text/javascript">
  $(document).ready(function() {
      var summary_text = $("#post_summary");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      summary_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>